<div class="navbar bg-neutral flex justify-between">
  <div class="flex items-center">
    <a class="btn btn-ghost normal-case text-xl text-white" routerLink="/">Summoner Spy</a>
  </div>
  <div *ngIf="!isLandingPage" class="form-control hidden w-80 md:flex">
    <app-search [isHeader]="true"></app-search>
  </div>
  <div class="gap-2">
    <div *ngIf="isLandingPage" class="hidden md:block">
      <a routerLink="/" class="btn btn-ghost text-white">Home</a>
      <a routerLink="/leaderboards" class="btn btn-ghost text-white">Leaderboards</a>
      <a routerLink="/free-rotation" class="btn btn-ghost text-white">Free Rotation</a>
      <a routerLink="/esports" class="btn btn-ghost text-white">Esports</a>
    </div>
    <div class="drawer md:hidden" *ngIf="isLandingPage">
      <input id="my-drawer-landing" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <label for="my-drawer-landing" class="btn btn-ghost drawer-button text-white text-xl w-14">
          <i class="fas fa-bars"></i>
        </label>
      </div>
      <div class="drawer-side z-40">
        <label for="my-drawer-landing" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 h-full bg-neutral text-white">
          <li><a routerLink="/" class="hover:text-white hover:translate-x-2 md:text-lg">Home</a></li>
          <li><a routerLink="/leaderboards" class="hover:text-white hover:translate-x-2 md:text-lg">Leaderboards</a></li>
          <li><a routerLink="/free-rotation" class="hover:text-white hover:translate-x-2 md:text-lg">Free Rotation</a></li>
          <li><a routerLink="/esports" class="hover:text-white hover:translate-x-2 md:text-lg">Esports</a></li>
        </ul>
      </div>
    </div>
    <div class="drawer" *ngIf="!isLandingPage">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <label for="my-drawer" class="btn btn-ghost drawer-button text-white text-xl w-14">
          <i class="fas fa-bars"></i>
        </label>
      </div>
      <div class="drawer-side z-40">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 h-full bg-neutral text-white">
          <li><a routerLink="/" class="hover:text-white hover:translate-x-2 md:text-lg">Home</a></li>
          <li><a routerLink="/leaderboards" class="hover:text-white hover:translate-x-2 md:text-lg">Leaderboards</a></li>
          <li><a routerLink="/free-rotation" class="hover:text-white hover:translate-x-2 md:text-lg">Free Rotation</a></li>
          <li><a routerLink="/esports" class="hover:text-white hover:translate-x-2 md:text-lg">Esports</a></li>
        </ul>
      </div>
    </div>
    <button class="btn" *ngIf="!isLoggedIn" (click)="login()">Log In</button>
    <div class="dropdown dropdown-end" *ngIf="isLoggedIn">
      <label tabindex="0" class="btn m-1">{{ user.name }}</label>
      <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
        <li><a routerLink="/profile">Profile</a></li>
        <li><a routerLink="/" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
